@media screen and (max-width: 768px){

    #Image{
        width: 100%;
        
    }

    

}

.loadercenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer{
    position: fixed;
    bottom: 0;
  
    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
}